html, body{
	font-family:$default_font;
	font-size:16px;
	color:$white;
	background:$black;
  height: 100vh;
  overflow: hidden;
}
body.body-black {
  background:$black;
  color:$white;
}
body.no-scroll{
	overflow: hidden;
}
*{
	box-sizing:border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
b {
  font-weight: 400;
}


canvas {
  display: block;
}

#canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/*
**   CUSTOM SELECTION
*/
::-moz-selection {
  color: $color_1;
  background: $color_2;
}
::selection {
	color: $color_1;
	background: $color_2;
}

// /*
// **  CUSTOM SCROLLBAR
// */
// ::-webkit-scrollbar {
// 	width: 1px;
// }
// /* Track */
// ::-webkit-scrollbar-track {
// 	background: $color_2;
// }
// /* Handle */
// ::-webkit-scrollbar-thumb {
// 	background: $color_1;
// }
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
// 	background: $color_1;
// }
